<div class="row">
  <div class="col-md-10 mt-4">
    <h4>
      <% if current_user.id == @user.id %>
        あなた(<%= @user.name %>
        <span class="ml-2">さん)のマイページです</span>
      <% else %>
        <%= @user.name%>
        <span class="ml-2">さんのページ</spna>
      <% end %>
    </h4>
    <div class="d-flex mt-4">
      <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, size:'60x60', fallback:'no_image.jpg', class:'rounded-circle' %>
      <h4 class="ml-3 mt-3"><%= @user.name %></h4>
      <% if current_user.id == @user.id %>
        <%= link_to 'ユーザー情報編集', edit_user_path(@user.id), class:'btn btn-secondary mt-3 ml-5' %>
      <% end %>
    </div>
    <div>
      <h3 class="mt-5">投稿一覧</h3>
      <div>
      <%= render 'post_card/card', pos: @user_post %>
      <h3 class="col-md-2 ml-auto"><%= paginate @user_post %></h3>
      </div>
    </div>
  </div>
</div>