<h4>
  <% if current_user.id == @user.id %>
    あなた(<%= @user.name %>さん)のマイページです
  <% else %>
    <%= @user.name さんのページ%>
  <% end %>
</h4>
<h4>
  <%= attachment_image_tag @user, :profile_image, :fill, 80, 80, fallback:'no_image.jpg', class:'rounded-circle' %>
  ユーザーネーム: <%= @user.name %>
  <% if current_user.id == @user.id %>
    <%= link_to 'ユーザー情報編集', edit_user_path(@user.id) %>
  <% end %>
</h4>

<h3>投稿一覧</h3>
<% @user_post.each do |pos|%>
  <div>
    <%= link_to post_path(pos.id) do %>
    <div><%= attachment_image_tag pos, :image, :fill, 400, 400, format: 'jpeg' %></div>
    <div><%= pos.sentence %></div>
    <% end %>
    <%= paginate @user_post %>
  </div>
<% end %>