<% pos.each do |pos| %>
  <!--投稿した画像と文章までの範囲をリンク化、投稿詳細ページへ繋げる-->
    <%= link_to post_path(pos.id) do %>
      <div class="card mt-3 mb-4 bg-light">
        <div class="row g-0">
          <div class="col-5 col-sm-4">
            <div alt="card-horizontal-image">
              
              <%= attachment_image_tag pos, :image, :fill, 400, 400, format: 'jpeg', class:'img-fluid w-100' %>
            </div>
          </div>
          <div class="col-7 col-sm-8">
            <div class="card-body">
              <h5 class="card-title">
                <%= attachment_image_tag pos.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", class:'rounded-circle' %>
                <%= pos.user.name %>
                <span class="card-text"><%= l pos.created_at %></span>
            </h5>
              <p class="card-text"><div class="text-muted"><%= pos.sentence %></div></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
<% end %>