<!DOCTYPE html>
<html>
  <head>
    <title>tLissue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- ヘッダー部分 -->
      
  <nav class="navbar navbar-expand-xl navbar-dark bg-info">
    <div class="container-fluid">
      <h1><%= link_to 'We\'Blog!', root_path, class:'navbar-brand' %></h1>
      <% if user_signed_in? %>
        <%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, fallback:'no_image.jpg',class:'rounded-circle ml-4' %>
         <p class="text-white mt-3 ml-2"><%= current_user.name%> さんログイン中</p>
      <% end %>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDark" aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarDark" style="">
        <ul class="navbar-nav ml-auto mb-2 mb-xl-0 mr-5">
          <% if user_signed_in? %>
          <h4 class="nav-item">
            <%= link_to 'Home', user_path(current_user.id), class:'nav-link active' %>
          </h4>
          <h4 class="nav-item">
            <%= link_to '新規投稿', new_post_path, class:'nav-link active' %>
          </h4>
          <h4 class="nav-item">
            <%= link_to '投稿一覧', posts_path, class:'nav-link active' %>
          </h4>
           <h4 class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:'nav-link active' %>
          </h4>
          <% else %>
           <h4 class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class:'nav-link active' %>
          </h4>
          <h4 class="nav-item">
            <%= link_to "ログイン", new_user_session_path,class:'nav-link active disabled' %>
          <% end %>
          </h4>
        </ul>
      </div>
    </div>
  </nav>
  

    <!-- -->
    <!--各ページでのエラーメッセージを表示させるために追加-->
      <h3 class="notice"><%= notice %></h3>
      <h3 class="alert"><%= alert %></h3>
    <!-- -->
    <%= yield %>
  </body>
</html>
