<!DOCTYPE html>
<html>
  <head>
    <title>tLissue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--Font Awesome追加 2021/09/16-->
    <script src="https://kit.fontawesome.com/a4c81ae722.js" crossorigin="anonymous"></script>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
  </head>
  <body>
    <!-- ヘッダー部分 -->
  <nav class="navbar navbar-expand-xl navbar-dark bg-info">
    <div class="container-fluid">
      <h1><%= link_to 'We\'Blog!', root_path, class:'navbar-brand' %></h1>
      <% if user_signed_in? %>
        <%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, fallback:'no_image.jpg', size:'60x60', class:'rounded-circle ml-4' %>
         <p class="text-white mt-3 ml-2"><%= current_user.name%> さんログイン中</p>
      <% end %>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDark" aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarDark" style="">
        <ul class="navbar-nav mr-auto mb-2 mb-xl-0 ml-5">
          <% if user_signed_in? %>
          <h4 class="nav-item">
            <%= link_to user_path(current_user.id), class:'nav-link btn btn-secondary  mr-3 text-light' do %>
            <i class="fas fa-home">Home</i>
            <% end %>
          </h4>
          <h4 class="nav-item">
            <%= link_to new_post_path, class:'nav-link btn btn-secondary  mr-3 text-light' do %>
            <i class="fas fa-blog">My New Log!</i>
            <% end %>
          </h4>
          <h4 class="nav-item">
            <%= link_to posts_path, class:'nav-link btn btn-secondary  mr-3 text-light' do %>
            <i class="fas fa-stream">Logs</i>
            <% end %>
          </h4>
           <h4 class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete, class:'nav-link btn btn-secondary mr-3 text-light' do %>
            <i class="fas fa-sign-out-alt">Log out</i>
            <% end %>
          </h4>
          <% else %>
           <h4 class="nav-item">
            <%= link_to new_user_registration_path, class:'nav-link btn btn-secondary  mr-3 text-light' do %>
            <i class="fas fa-address-card">Join!</i>
            <% end %>
          </h4>
          <h4 class="nav-item">
            <%= link_to new_user_session_path, class:'nav-link btn btn-secondary  mr-3 text-light' do %>
            <i class="fas fa-sign-in-alt">Log in</i>
            <% end %>
          </h4>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
    <!-- -->
    <div class="container">
      <%= render 'flash_message/message' %>
      <%= yield %>
    </div>
  </body>
</html>
